* {
    color: rgb(0, 0, 0);
}
body{ 
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
.homepage{
    padding-top: 8%;
    padding-left: 14%;
    font-size: larger;
}
.intro{
    margin-top: -1%;
    padding-left: 3%;
}
.imae{
    padding-left: 17%;
    padding-top: 2%;
}
.col-sm-4{
    line-height: 44px;
}
.container {
    width: 66%;
    padding-top: 4%;
    padding-left: 17%;
}